/*https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFzWxpfK7mbye5X6s_aZU8fwCQ5aFsBhRGXg&usqp=CAU*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');

:root {
    --color-orange: 251, 133, 0;
    --color-purple: 155, 93, 229;
    --color-blue: 17, 138, 178;
    --color-yellow: 255, 209, 102;
    --color-red: 239, 71, 111;
    --color-green: 6, 214, 160;

    --scroll-primary: 200, 200, 200;
    --scroll-secondary: #262626;

    --text: #000f29;//#151b24;
    --background: #edebe8;
}

@media(prefers-color-scheme: dark) {
    :root {
        --color-orange: 255, 180, 162;
        --color-purple: 288, 193, 249;
        --color-blue: 169, 222, 249;
        --color-yellow: 252, 246, 189;
        --color-red: 255, 153, 200;
        --color-green: 208, 244, 222;

        --scroll-primary: 130, 130, 130;
        --scroll-secondary: white;

        --text: #edebe8;
        --background: #000f24;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .65px;
    line-height: 1.3rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
    letter-spacing: unset;
    line-height: unset;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text);
    background-color: var(--background);
}

nav {
    display: flex;
    flex-direction: column;

    width: fit-content;
    height: 100%;
    margin-inline: auto;
    padding: 1rem;

    justify-content: space-between;
}

aside {
    position: sticky;
    top: 0;

    height: 96vh;
    height: 96dvh;

    /* border-right: 1px solid var(--text); */
}

main {
    position: absolute;
    display: flex;

    top: 2vh;
    top: 2dvh;
    left: 2vw;
    width: 96vw;
    min-height: 96vh;
    min-height: 96dvh;

    margin-inline: auto;
}

footer {
    width: 100%;
    height: fit-content;
    border: 1px solid var(--text);
    padding: 1rem;
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    #links {
        display: flex;
        gap: .75rem;
    }
}

.mb-auto {
    margin-block: auto;
}

#blueprint {
    position: absolute;
    left: 2vw;
    top: 2vh;

    width: 96vw;
    height: 96vh;
    height: 96dvh;

    border: 2px solid var(--text);
}

#scalers {
    position: absolute;
    left: .5vw;
    top: 2vh;
    top: 4dvh;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    &>span {
        border-radius: .25rem;
        background-color: var(--text);
        width: .5rem;
        height: .5rem;

        &:first-child {
            background-color: rgb(var(--color-yellow));
        }
        &:nth-child(2) {
            background-color: rgb(var(--color-red));
        }
        &:last-child {
            background-color: rgb(var(--color-blue));
        }
    }
}

#title {
    width: 100%;
    padding: .5rem 1rem;

    border: 1px solid var(--text);
    white-space: nowrap;
    text-align: center;
    & :is(h1, p) {
        margin: 0;
    }
}

#legend {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: .5rem .75rem;
    padding-top: 2.5rem;

    gap: 1.5rem;
    border: 1px solid var(--text);

    &>.legend-section {
        position: relative;
        border: 1px solid var(--text);
        padding: .75rem;
        padding-top: 1.75rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        &>span#title {
            content: attr(data-title);
            position: absolute;
            width: fit-content;
            top: -10px;
            left: .5rem;
            border: 1px solid var(--text);
            background: var(--background);
            padding: .1rem .2rem;

            // &.orange {
            //     border-color: #fb5607;
            // }
        }
    }
    
    &::after {
        content: "Legend";

        position: absolute;
        top: -10px;
        left: .5rem;

        padding: 1px 3px;

        border: 1px solid var(--text);
        background-color: var(--background);
    }
}

.legend-item {
    display: flex;
    align-items: center;
    gap: .75rem;

    &>svg {
        width: 1.2rem;
        height: 1.2rem;
    }

    &>a:hover {
        text-underline-offset: 2px;
    }

    &>span {
        &:first-child {
            width: .75rem;
            height: .75rem;
            border-radius: .25rem;
            border: 1px solid var(--text);
        }
    }
}

a {
    color: var(--text);
    &:hover {
        color: rgb(var(--color-blue));
    }
}

#content {
    display: flex;
    flex-direction: column;

    height: 96vh;
    height: 96dvh;
    padding: 1rem;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-secondary) rgba(var(--scroll-primary), .4);
    scroll-behavior: smooth;
    scroll-padding-top: 1.6rem;

    & p {
        text-indent: 2rem;
    }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(var(--scroll-primary), .4);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-secondary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-secondary);
}
