---
import FormattedDate from "../../components/FormattedDate.astro";
import Blueprint from "../../layouts/Blueprint.astro";
import { getCollection } from "astro:content";
import type { Link } from "../../scripts/navigation";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const links: Link[] = [
  {
    src: "#top",
    display: "Top",
  },
  {
    src: "#bottom",
    display: "Bottom",
  },
];
---

<Blueprint links={links}>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <p>{post.data.title}</p>
              <div>
                <FormattedDate date={post.data.pubDate} />
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
  <style lang="scss">
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-left: 0;

      li {
        list-style: none;
        border: 1px solid rgb(var(--text));
        border-left: 3px solid rgb(var(--text));
        padding-left: 1rem;

        & a {
          text-decoration: none;
        }
        & p {
          text-decoration: underline;
        }
      }
    }
  </style>
</Blueprint>
