---
import Layout from "@layout/Layout.astro";


---

<Layout title="Blog" description="Welcome to my blog where I document my process and notes on how certain outcomes are achieved">
    <h1 class="text-3xl font-bold">Blog</h1>
</Layout>