/*https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFzWxpfK7mbye5X6s_aZU8fwCQ5aFsBhRGXg&usqp=CAU*/
/*https://icon-sets.iconify.design/*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap");

body {
  --color-orange: 251, 133, 0;
  --color-purple: 155, 93, 229;
  --color-blue: 17, 138, 178;
  --color-yellow: 255, 209, 102;
  --color-red: 239, 71, 111;
  --color-green: 6, 214, 160;

  --scroll-primary: 200, 200, 200;
  --scroll-secondary: #262626;

  --text: 31, 31, 31;
  --background: 251, 247, 245;
}

body[data-theme="dark"] {
  //   --color-orange: 255, 180, 162;
  //   --color-purple: 288, 193, 249;
  //   --color-blue: 169, 222, 249;
  //   --color-yellow: 252, 246, 189;
  //   --color-red: 255, 153, 200;
  //   --color-green: 208, 244, 222;

  --scroll-primary: 130, 130, 130;
  --scroll-secondary: white;

  --text: 237, 235, 232;
  --background: 27, 36, 48;
}

* {
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.65px;
  line-height: 1.3rem;

  scrollbar-width: thin;
  scrollbar-color: var(--scroll-secondary) rgba(var(--scroll-primary), 0.4);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", serif;
  letter-spacing: unset;
  line-height: unset;
}

h1 {
  font-size: 2rem;
}

article > h1:first-child {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: rgb(var(--text));
  background-color: rgb(var(--background));
}

hr {
  border: unset;
  border-bottom: 1px dashed rgb(var(--text));
}

nav {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  width: 100%;
  height: 100%;

  h3 {
    margin-block: 0.3rem;
  }
}

.hidden {
  width: 0;
  height: 0;
}

aside {
  position: absolute;
  width: 80%;
  height: 100%;
  border-block: 2px solid rgb(var(--text));
  border-inline: 1px solid rgb(var(--text));
  box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  //   top: 1px;
  //   left: 1px;
  //   right: 1px;
  //   bottom: 1px;
  background-color: rgb(var(--background));
  max-width: 20rem;
  padding: 1rem;
  transition: 0.15s width;

  &.hide {
    width: 0;
    padding: 0;
  }
}

main {
  position: absolute;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;

  left: 1.5rem;
  right: 0.75rem;
  top: 0.75rem;
  bottom: 0.75rem;
}

a {
  color: rgb(var(--text));
  text-underline-offset: 2px;
  &:hover {
    color: rgb(var(--color-blue));
  }
}

pre:has(code) {
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(var(--text));
  overflow-x: auto;

  scrollbar-color: rgba(var(--scroll-primary), 0.4) var(--scroll-secondary);
  width: 100%;
  margin-inline: auto;

  & * {
    letter-spacing: unset;
    line-height: unset;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scroll-secondary);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--scroll-primary), 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--scroll-primary), 0.4);
  }
}

blockquote {
  background-color: rgba(0, 0, 0, 0.25);
  margin-inline: auto;
  width: fit-content;
  padding: 0.1rem 1rem;

  & cite {
    margin-left: 0.5rem;
  }
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-inline: auto;
  thead {
    color: white;
    background-color: black;
  }

  tbody tr {
    background-color: white;
    color: black;
    &:nth-child(even) {
      background-color: #e3e3e3;
      color: black;
    }
  }

  :is(th, td) {
    padding: 0.5rem;
  }
}

mark {
  color: rgb(var(--text));
  position: relative;
  background-color: unset;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 3%;
    width: 94%;
    height: 65%;
    background-color: rgba(255, 255, 0, 0.4);
  }
}

.mb-auto {
  margin-block: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(var(--scroll-primary), 0.4);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-secondary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-secondary);
}

#toasts {
  position: absolute;
  z-index: 100;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  padding: 1rem;
  pointer-events: none;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: end;
  gap: 1rem;

  & code {
    word-break: keep-all;
    white-space: nowrap;

    background-color: rgb(var(--background), 0.75);
    color: rgb(var(--text));
    padding: 0.15rem 0.4rem;
    border-radius: 0.5rem;
  }

  .toast {
    position: relative;
    background-color: rgba(var(--text), 0.94);
    color: rgb(var(--background));
    padding: 1rem 1rem;
    border-radius: 0.75rem;
    display: flex;
    gap: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    font-size: 0.8rem;

    & > section {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    & p {
      padding: 0;
      margin: 0;
    }

    & button {
      border: None;
      outline: none;
      border-radius: 1rem;

      height: fit-content;
      width: fit-content;
      margin: 0;

      pointer-events: auto;
      cursor: pointer;

      background-color: rgb(var(--color-red));
      //   color: rgb(var(--color-red));
      color: rgb(var(--background));

      span {
        padding: 0;
        margin: 0;
      }

      &:hover {
        background-color: rgba(var(--color-red), 0.8);
      }
    }
  }
}

#tags {
  display: flex;
  color: rgb(var(--text));
  width: fit-content;
  height: fit-content;
  flex-wrap: wrap;
  gap: 0.25rem 0.5rem;

  & > span {
    padding: 0.1em 0.25em;
    border-radius: 0.25rem;
    font-size: 0.85rem;
    height: fit-content;

    @each $color in red, green, blue, yellow, purple, orange {
      &.#{$color} {
        background-color: rgba(var(--color-#{$color}), 0.5);
        border: 1px solid rgba(var(--color-#{$color}), 0.5);
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  #toasts {
    width: 50vw;
    left: 25vw;

    .toast {
      width: 100%;
    }

    & button {
      display: flex;
    }
  }
  pre:has(code) {
    width: 90%;
  }
  #tags {
    margin-top: 0;
  }
  aside {
    position: relative;
    box-shadow: none;
    border-right: none;
    height: 100%;
    width: 20rem;
    max-width: 20rem;
    padding: 1rem;
    transition: unset;

    &.hide {
      width: 0;
      padding: 0;
    }
  }
}