---
title: First post
description: First post
published: '2023-4-14'
updated: '2023-11-29'
categories:
  - svelte kit
  - svelte
---

## Markdown

Hey friends! 👋

```ts
function greet(name: string) {
    console.log(`Hey ${name}! 👋`)
}
```

```rust
fn greet(name: &str) {
    println!("Hello {}! 👋", name);
}
```

```
fn greet(name: &str) {
    println!("Hello {}! 👋", name);
}
```

```rust
fn greet(name: &str) {
    println!("Hello {}! 👋", name);
}
```

```rust
fn greet(name: &str) {
    println!("Hello {}! 👋", name);
}
```

```rust
fn greet(name: &str) {
    println!("Hello {}! 👋", name);
}
```