---
import Layout from "@layout/Layout.astro";


console.log("This runs in the terminal, not the browser!");
console.log("This is because it is run on the server not the client.");
---

<Layout title="Tired Fox" description="Welcome to my personal website. Look around and keep up to date with what I am working on">
    <h1 class="text-yellow-500">Hello, world!</h1>
</Layout>