---
import Blueprint from "../layouts/Blueprint.astro";

const links = [
  {
    src: "#top",
    display: "Top",
  },
  {
    src: "#about",
    display: "About",
  },
  {
    src: "#projects",
    display: "Projects",
  },
  {
    src: "#bottom",
    display: "Bottom",
  },
];
---

<Blueprint links={links}>
    <blockquote>
        <span style="color: orange; margin-right: .5rem">⚠</span>
        Warning: This website is under development and is very experimental
    </blockquote>
  <h1 id="about">About</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
    elementum eros dignissim interdum pretium. Mauris libero est, pretium
    hendrerit ex non, viverra sollicitudin quam. Sed in efficitur elit. Ut eros
    erat, hendrerit nec condimentum rhoncus, lacinia et lectus. Curabitur
    faucibus dapibus urna nec condimentum. Nulla facilisi. Nam vitae sodales
    leo. Praesent sed quam a quam scelerisque ornare eu at mauris.
  </p>
  <p>
    Cras sit amet pharetra tellus. Etiam pharetra congue est. Nam consequat
    finibus elementum. Vestibulum placerat sodales urna, et tempor purus
    placerat quis. Pellentesque ullamcorper odio a sapien dignissim, at pulvinar
    purus consequat. Curabitur pharetra volutpat lectus, a bibendum tortor
    placerat id. Class aptent taciti sociosqu ad litora torquent per conubia
    nostra, per inceptos himenaeos. Aliquam elementum libero diam, ac
    ullamcorper massa dignissim at. Sed vestibulum nunc vel orci pellentesque,
    vel scelerisque metus vehicula. Curabitur faucibus, orci vel pellentesque
    gravida, ligula erat cursus lorem, vitae pretium urna ligula nec mauris.
    Nullam leo arcu, rutrum sit amet nunc sit amet, pulvinar suscipit est.
  </p>
  <p>
    Curabitur ac dolor sagittis, iaculis odio sit amet, dapibus justo. Praesent
    molestie massa quis est fringilla ornare. Mauris a lectus erat. Praesent
    tempus a leo ac placerat. Nullam non bibendum urna. Integer sit amet
    consectetur erat. Sed porta interdum lorem id fermentum. Aliquam a euismod
    leo. Phasellus vel facilisis mauris. Suspendisse et enim eu odio tempus
    rutrum sed id dui. Nam luctus lobortis egestas. Nam semper sodales odio ac
    venenatis. Duis id mauris at orci tincidunt porttitor. In urna quam, mattis
    et massa et, molestie luctus massa. Sed eros enim, hendrerit id dolor
    malesuada, mattis tempor tellus.
  </p>
  <p>
    Aliquam ac quam elementum, porttitor nisl sed, scelerisque nisl. Sed vitae
    nulla dapibus, imperdiet eros at, rhoncus lectus. Nunc dignissim, nulla eget
    tempus pellentesque, dolor lectus varius felis, vitae efficitur velit augue
    at nisl. Nulla vehicula magna vitae blandit tempor. Suspendisse mi metus,
    scelerisque eget ex nec, gravida vulputate lacus. Sed in nisl pulvinar,
    lobortis leo et, semper risus. Vivamus sagittis vitae velit at vestibulum.
    Aenean consequat fringilla diam, ut vulputate lacus laoreet nec.
    Pellentesque porttitor diam elit, in accumsan mi suscipit sed.
  </p>
  <p>
    Nunc vel tincidunt dui. Morbi at accumsan risus. Phasellus euismod cursus
    quam, sit amet hendrerit velit facilisis tincidunt. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed
    ante lorem, lobortis tristique tincidunt eu, eleifend vel massa. Fusce
    fermentum, dolor vel hendrerit egestas, justo quam volutpat lacus, ut
    faucibus tellus tortor malesuada nisi. Integer tincidunt accumsan ornare.
    Sed ipsum augue, finibus in semper vel, blandit id massa.
  </p>
  <h1 id="projects">Projects</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
    elementum eros dignissim interdum pretium. Mauris libero est, pretium
    hendrerit ex non, viverra sollicitudin quam. Sed in efficitur elit. Ut eros
    erat, hendrerit nec condimentum rhoncus, lacinia et lectus. Curabitur
    faucibus dapibus urna nec condimentum. Nulla facilisi. Nam vitae sodales
    leo. Praesent sed quam a quam scelerisque ornare eu at mauris.
  </p>
  <p>
    Cras sit amet pharetra tellus. Etiam pharetra congue est. Nam consequat
    finibus elementum. Vestibulum placerat sodales urna, et tempor purus
    placerat quis. Pellentesque ullamcorper odio a sapien dignissim, at pulvinar
    purus consequat. Curabitur pharetra volutpat lectus, a bibendum tortor
    placerat id. Class aptent taciti sociosqu ad litora torquent per conubia
    nostra, per inceptos himenaeos. Aliquam elementum libero diam, ac
    ullamcorper massa dignissim at. Sed vestibulum nunc vel orci pellentesque,
    vel scelerisque metus vehicula. Curabitur faucibus, orci vel pellentesque
    gravida, ligula erat cursus lorem, vitae pretium urna ligula nec mauris.
    Nullam leo arcu, rutrum sit amet nunc sit amet, pulvinar suscipit est.
  </p>
  <p>
    Curabitur ac dolor sagittis, iaculis odio sit amet, dapibus justo. Praesent
    molestie massa quis est fringilla ornare. Mauris a lectus erat. Praesent
    tempus a leo ac placerat. Nullam non bibendum urna. Integer sit amet
    consectetur erat. Sed porta interdum lorem id fermentum. Aliquam a euismod
    leo. Phasellus vel facilisis mauris. Suspendisse et enim eu odio tempus
    rutrum sed id dui. Nam luctus lobortis egestas. Nam semper sodales odio ac
    venenatis. Duis id mauris at orci tincidunt porttitor. In urna quam, mattis
    et massa et, molestie luctus massa. Sed eros enim, hendrerit id dolor
    malesuada, mattis tempor tellus.
  </p>
  <p>
    Aliquam ac quam elementum, porttitor nisl sed, scelerisque nisl. Sed vitae
    nulla dapibus, imperdiet eros at, rhoncus lectus. Nunc dignissim, nulla eget
    tempus pellentesque, dolor lectus varius felis, vitae efficitur velit augue
    at nisl. Nulla vehicula magna vitae blandit tempor. Suspendisse mi metus,
    scelerisque eget ex nec, gravida vulputate lacus. Sed in nisl pulvinar,
    lobortis leo et, semper risus. Vivamus sagittis vitae velit at vestibulum.
    Aenean consequat fringilla diam, ut vulputate lacus laoreet nec.
    Pellentesque porttitor diam elit, in accumsan mi suscipit sed.
  </p>
  <p>
    Nunc vel tincidunt dui. Morbi at accumsan risus. Phasellus euismod cursus
    quam, sit amet hendrerit velit facilisis tincidunt. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed
    ante lorem, lobortis tristique tincidunt eu, eleifend vel massa. Fusce
    fermentum, dolor vel hendrerit egestas, justo quam volutpat lacus, ut
    faucibus tellus tortor malesuada nisi. Integer tincidunt accumsan ornare.
    Sed ipsum augue, finibus in semper vel, blandit id massa.
  </p>
</Blueprint>
