---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen flex flex-col">
		<Header title={SITE_TITLE} />
		<main class="flex-1 flex justify-center items-center">
            <img
                class="w-[10rem]"
                src="/images/logo.png"
                alt="Tired Fox Logo"
            >
		</main>
		<Footer />
	</body>
</html>
