* {
    @apply scroll-m-20 box-border;
}
  
html {
    @apply scroll-smooth;
}

body {
    // @apply bg-zinc-100 dark:bg-zinc-800;
}

a {
    @apply underline
}

p {
    span.math.math-inline {
        display: inline-block;
    }
}

ul.contains-task-list, ol.contains-task-list {
    list-style: none !important;
}

table {
    tbody {
        tr:nth-child(odd) {
            @apply bg-zinc-50
        }
    }
}

.code-block {
    &:hover {
        .code-filename {
            @apply xl:opacity-0;
        }

        .code-copy {
            @apply opacity-100;
        }
    }

    .code-filename {
        @apply opacity-100 transition-opacity text-sm duration-200 ease-in-out;
    }

    .code-copy {
        @apply xl:opacity-0 transition-opacity duration-200;
    }
}

a.data-footnote-backref {
    text-decoration: none !important;
}

div.math.math-display {
    .MathJax {
        svg {
            margin-inline: auto;
        }
    }
}

blockquote {
    p {
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
}

section.footnotes {
    @apply border-t border-solid border-zinc-700 mt-10;
}

sup {
    @apply ml-1;
}

th {
    color: white !important;
}

mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    background-color: rgba(255, 255, 0, .6);
}

kbd {
    kbd {
        @apply  rounded border border-solid cursor-default text-sm leading-none min-w-[3px] w-fit inline-block text-center px-[2px] py-[5px] relative -top-[1px] hover:top-[1px] mx-1;

        @apply bg-zinc-300 shadow-zinc-400 border-zinc-300 text-black;

        box-shadow: 0 2px 0 1px #a1a1aa;
        &:hover {
            box-shadow: 0 1px 0 0.5px #a1a1aa;
        }

        // @apply dark:bg-zinc-600 dark:border-zinc-600 dark:text-white;

        // @media (prefers-color-scheme: dark) {
        //     box-shadow: 0 2px 0 1px #3f3f46;
        //     &:hover {
        //         box-shadow: 0 1px 0 0.5px #3f3f46;
        //     }
        // }
        
    }
}

h2, h3, h4 {
    a {
        text-decoration: none !important;
    }
}
  
.cta {
    @apply p-1.5 px-2 bg-slate-50 border border-slate-200 font-semibold rounded-lg;
    @apply transition-all hover:-translate-y-0.5 focus:bg-slate-100 active:translate-y-0.5 active:shadow-inner;
}
  
.cta.w-icon {
    @apply flex items-center gap-2 pr-3;
}

.task-list-item {
    input {
        @apply mr-2;
    }
}

code {
    &::before {
        display: none;
    }

    &::after {
        display: none;
    }
}