---
import {Icon} from 'astro-icon';
---

<div class="mb-auto"></div>
<footer>
  <div id="links">
    <div>
      <h4>Contact Me</h4>

      <div>
        <a href="mailto:zboehm104@gmail.com" title="Email">
            <Icon name="envelope" />
        </a>
        <a href="#" title="LinkedIn">
            <Icon name="linkedin" />
        </a>
      </div>
    </div>
    <div>
      <h4>Socials</h4>
      <div>
        <a href="https://github.com/Tired-Fox" title="Github">
            <Icon name="github" />
        </a>
        <a href="#" title="Threads">
            <Icon name="threads" />
        </a>
      </div>
    </div>
    <div>
      <h4>Other</h4>
      <div>
        <a
          href="https://github.com/Tired-Fox"
          title="Game jams"
        >
            <Icon name="jar" />
        </a>

        <a
          href="https://totally-not-a-bunch-of-cats.github.io/Totally-Not-a-Bunch-of-Cats/"
          title="My game development team"
        >
            <Icon name="cat" />
        </a>
      </div>
    </div>
  </div>
  <div id="info">
    <span>&copy; 2023 Zachary Boehm. All Rights Reserved.</span>
  </div>
</footer>
