---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

const { class: className } = Astro.props;
---

<header class:list={['mx-auto w-[85%] max-w-[90ch] mb-8', className]}>
	<h2 class="text-2xl font-bold">
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
	</nav>
</header>
