---
import { Icon } from "astro-icon";
import type { Link } from "../scripts/navigation.ts";
import { selectIcon } from "../scripts/icons";

type Props = {
  links?: Link[],
  open?: boolean,
};

const { links = [], open=false } = Astro.props;
---

{
  links && (
    <aside id="navigation" class={open ? '' : 'hide'}>
      <nav>
        <div id="title">
          <div>
            <h3>Zachary Boehm</h3>
            <p>Software Developer</p>
          </div>
        </div>
        <div id="legend">
          <span>Legend</span>
          <div>
            {links.map((link) => {
              return (
                <div class="legend-item">
                  <Icon name={selectIcon(link.name || link.display)} />
                  <a href={link.src} title={link.title || link.display}>
                    {link.display}
                  </a>
                </div>
              );
            })}
          </div>
        </div>
      </nav>
    </aside>
  )
}
