---
import { Icon } from 'astro-icon';
import type { Section } from '../scripts/navigation.ts';

type Props = {
  sections: Array<Section>;
};

const { sections = [] } = Astro.props;
---

<aside>
  <nav>
    <div id="title">
      <h1>Zachary Boehm</h1>
      <p>Software Developer</p>
    </div>
    <div id="legend">
      {
        sections.map(({ name, links }) => {
          return (
            <div class="legend-section">
              <span id="title">{name}</span>
              {links.map((link) => {
                return (
                  <div class="legend-item">
                    <Icon name={link.icon} />
                    <a href={link.src} title={link.title || link.display}>
                      {link.display}
                    </a>
                  </div>
                );
              })}
            </div>
          );
        })
      }
    </div>
  </nav>
</aside>
