---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
import InitScript from "../components/InitScript.astro";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon";

import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import type { Link } from "../scripts/navigation";
import { selectIcon } from "../scripts/icons";

type Props = {
  links?: Link[];
  description?: string;
  title?: string;
  open?: boolean;
};
const { links = [], title, description, open = false } = Astro.props;

const base = import.meta.env.BASE_URL;
---

<script is:inline>
const toggleNav = () => {
    document.getElementById("navigation")?.classList.toggle("hide");
};
</script>
<html lang="en">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
    />
    <InitScript />
    <style lang="scss">
      #blueprint {
        border: 2px solid rgb(var(--text));
      }

      #icon-nav {
        position: absolute;
        width: 2.5rem;
        height: calc(100% - 3rem);
        left: 0rem;
        top: 1.4rem;

        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;

        & #menu-toggle {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          cursor: pointer;

          & > span {
            border-radius: 0.25rem;
            background-color: rgb(var(--text));
            width: 0.5rem;
            height: 0.5rem;

            &:first-child {
              background-color: rgb(var(--color-yellow));
            }
            &:nth-child(2) {
              background-color: rgb(var(--color-red));
            }
            &:nth-child(3) {
              background-color: rgb(var(--color-blue));
            }
          }
        }

        & > #nav {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
        }

        & svg {
          width: 1rem;
          height: 1rem;
        }

        & > #theme-help {
          width: fit-content;
          height: fit-content;
          padding: 0;
          margin: 0;
          font-size: 1.2rem;

          cursor: pointer;

          background-color: unset;
          font-weight: bold;
        }
      }
      #content {
        display: flex;
        flex-direction: column;

        height: 100%;
        width: 100%;
        padding: 1rem;

        overflow-y: auto;
        scroll-behavior: smooth;
        scroll-padding-top: 1.6rem;

        & > p {
          text-indent: 2rem;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          line-height: 2rem;
        }
      }

      @media only screen and (min-width: 700px) {

        #icon-nav {
            flex-direction: column;
        }
      }
    </style>
  </head>
  <body data-theme="light">
    <div id="icon-nav">
      <div id="menu-toggle" onclick="toggleNav()" title="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span id="nav">
          <a href={`${base}`} title="Home"><Icon name={selectIcon("home")} /></a>
          <a href={`${base}blog/`} title="Blog"><Icon name={selectIcon("blog")} /></a>
          <a href="#" class="theme-toggle" title="Toggle themes"
          ><Icon name="pen-fancy" /></a
          >
        </span>
        <div title="Show help message" id="theme-help">?</div>
    </div>
    <div id="blueprint"></div>
    <main>
      <Navigation links={links} open={open} />
      <div id="content">
        <span id="top" class="hidden"></span>
        <slot />
        <Footer />
        <span id="bottom" class="hidden"></span>
      </div>
    </main>
    <div id="toasts"></div>
  </body>
</html>
