---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
import InitScript from "../components/InitScript.astro";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon";

import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import type { Link } from "../scripts/navigation";
import { selectIcon } from "../scripts/icons";

type Props = {
  links?: Link[];
  description?: string;
  title?: string;
  open?: boolean
};
const { links = [], title, description, open=false } = Astro.props;
---

<script is:inline>
  const toggleNav = () => {
    document.getElementById('navigation')?.classList.toggle("hide");
  };
</script>
<html lang="en">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
    />
    <InitScript />
  </head>
  <body data-theme="light">
    <div id="icon-nav">
      <div id="menu-toggle" onclick="toggleNav()" title="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div title="Show help message" id="theme-help">?</div>
      <span id="nav">
        <a href="/" title="Home"><Icon name={selectIcon("home")} /></a>
        <a href="/blog/" title="Blog"><Icon name={selectIcon("blog")} /></a>
        <a href="#" class="theme-toggle" title="Toggle themes"><Icon name="pen-fancy" /></a>
      </span>
      <Icon name="angles-right" id="open-menu-icon"/>
    </div>
    <div id="blueprint"></div>
    <main>
      <Navigation links={links} open={open}/>
      <div id="content">
        <span id="top" class="hidden"></span>
        <slot />
        <Footer />
        <span id="bottom" class="hidden"></span>
      </div>
    </main>
    <div id="toasts"></div>
  </body>
</html>
