---
import BaseHead from "@component/BaseHead.astro";
import Header from "@component/Header.astro";
interface Props {
    title: string,
    description: string,
}

const { title, description } = Astro.props;
---

<html>
    <BaseHead title={title} description={description} />
    <body class="bg-zinc-50 dark:bg-zinc-800 text-zinc-800 dark:text-zinc-50 dot-grid min-h-[200vh">
        <Header />
        <main class="h-[200vh] sm:mx-16 py-10 sm:py-6 px-4">  
            <slot />
        </main>
    </body>
</html>